:root{
    --orange: hsl(0, 100%, 67%);
    --oranzovo-zlta: hsl(39, 100%, 56%);
    --zelena: hsl(166, 100%, 37%);
    --modra: hsl(234, 85%, 45%);
    --biela: hsl(0, 0%, 100%);
    --seda: hsl(221, 100%, 96%);
    --svetlo-modra: hsl(241, 100%, 89%);
    --tmava-seda: hsl(224, 30%, 27%);

    /* prechody */
    --modry-prechod: radial-gradient(circle, hsl(252, 100%, 67%), hsl(241, 81%, 54%));

    --dalsi-prechod: radial-gradient(circle, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

h3{
    color: var(--zelena);
}

.result{
    background: var(--modry-prechod);
}