/* ----------------------------------- */
/* PREMENNE */
/* ----------------------------------- */

:root{
    --orange: hsl(0, 100%, 67%);
    --oranzovo-zlta: hsl(39, 100%, 56%);
    --zelena: hsl(166, 100%, 37%);
    --modra: hsl(234, 85%, 45%);
    --biela: hsl(0, 0%, 100%);
    --seda: hsl(221, 100%, 96%);
    --svetlo-modra: hsl(241, 100%, 89%);
    --tmava-seda: hsl(224, 30%, 27%);

    /* prechody */
    --modry-prechod: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));

    --dalsi-prechod: radial-gradient(circle, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}


/* ----------------------------------- */
/* RESULT */
/* ----------------------------------- */

.result{
    background: var(--modry-prechod);
    border-radius: 0  0 2em 2em ;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.result__div-kruh{
    border-radius: 50%;
    background: linear-gradient(to bottom, hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    display: flex;
    flex-direction: inherit;  /* inherit - prevezmi vlastnosti od rodicovskeho elementu*/
    align-items: inherit;
    width: 8rem;
    height: 8rem;
}

.result__h1-skore, .result__h3-vysledok{
  color: var(--zelena);
}






.summary__section--cerveny{
    background-color: var(--orange);
    color: darken(var(--orange));
}